
<!doctype html>
<head>
  <title>Gaussian Plume Model</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'myproject/style.css' %}">

</head>

<script language="javascript" type="text/javascript">
  function toTitleCase(str) {
    return str.replace(
      /\w\S*/g,
      function(txt) {
        return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
      }
    );
  }

  function add_option(options, option_id, option_label){
    document.write(`<label for = "${option_id}"> ${option_label}: </label>`);
    document.write(`<select name = "${option_id}" id = "${option_id}" required>`);
    document.write(`<option value="" disabled selected>Please choose </option>`);
    var default_option = 0;      
    if(option_id == 'wind'){
        default_option = 2;
    }      
    for(var i = 0; i < options.length; i++)
    {
      var val = options[i];
        if(i == default_option){
            document.write(`<option value = ${i+1} selected ="selected"> ${toTitleCase(val.replace(/_/g, ' '))} </option>`);      
        } else {
            document.write(`<option value = ${i+1}> ${toTitleCase(val.replace(/_/g, ' '))} </option>`);            
        }
    }
    document.write("</select> <br>");
  }

function add_stackparams(stack_id){
    var stack_id_1 = stack_id-1;
    var  fields_p2 = {};
    fields_p2["stack_x" + stack_id_1] = "x-coordinate of stack " +  stack_id;
    fields_p2["stack_y" + stack_id_1] = "y-coordinate of stack " +  stack_id;
    fields_p2["Q" + stack_id_1] = "Mass emitted per unit time of stack " +  stack_id;
    fields_p2["H" + stack_id_1] = "Height of stack " + stack_id + " (m)";

    var stack_x_default = [0, 1000, -200];
    var stack_y_default = [0, 250, -500];
    var q_default = [40, 40, 40];
    var h_default = [50, 50, 50];
    var  fields_p2_default = {};
    fields_p2_default["stack_x" + stack_id_1] = stack_x_default[stack_id_1];
    fields_p2_default["stack_y" + stack_id_1] = stack_y_default[stack_id_1];
    fields_p2_default["Q" + stack_id_1] = q_default[stack_id_1];
    fields_p2_default["H" + stack_id_1] = h_default[stack_id_1];
    document.write("<br><fieldset>");
    document.write(`<legend>Stack ${stack_id}</legend>`)
    for(var key in fields_p2)
    {
        var val = fields_p2[key];
        var default_val = fields_p2_default[key];
        document.write(`<label for = "${key}"> ${val}:  </label>`);
        document.write(`<input type = "text" name = "${key}" id = "${key}" value = "${default_val}"> <br>`);
    }
    document.write("</fieldset> <br>");
}
  </script>

<form method = "" action = "counter">

  <script language="javascript" type="text/javascript">
    var fields_p1 = {'onemap_api_key': "Onemap API Key", 'cen_lat': "Center Latitude", 'cen_lon': "Center Longitude" 
                    };
    var fields_p1_default = {
        'onemap_api_key': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjOTc0NDgxYjQzMDFhZjZiZjRjZjgwZDhmNDZkMWVjYiIsImlzcyI6Imh0dHA6Ly9pbnRlcm5hbC1hbGItb20tcHJkZXppdC1pdC0xMjIzNjk4OTkyLmFwLXNvdXRoZWFzdC0xLmVsYi5hbWF6b25hd3MuY29tL2FwaS92Mi91c2VyL3Bhc3N3b3JkIiwiaWF0IjoxNzE3NzQ2ODY3LCJleHAiOjE3MTgwMDYwNjcsIm5iZiI6MTcxNzc0Njg2NywianRpIjoidnlGNWlZTWgxNnNaTHFubCIsInVzZXJfaWQiOjMwODMsImZvcmV2ZXIiOmZhbHNlfQ.l7_qalx37VjrOrBQiS6ujyNjLqbTtYpv4RFDVDXnWE8', 'cen_lat':1.3576956, 'cen_lon': 103.8055135  
    }
    document.write("<fieldset>");
    document.write("<legend>Center Location</legend>")
    for(var key in fields_p1)
    {
        var val = fields_p1[key];
        var default_value = fields_p1_default[key];
        document.write(`<label for = "${key}"> ${val}:  </label>`);
        if(key == 'onemap_api_key'){
            document.write(`<textarea type = "text" name = "${key}" id = "${key}" rows="5" cols="100" required>${default_value}</textarea> <br>`);
        } else {
            document.write(`<input type = "text" name = "${key}" id = "${key}" required value = "${default_value}"> <br>`);
        }
    }
    document.write("</fieldset>");    
    </script>


  <script language="javascript" type="text/javascript">
    var option_id_labels = {
        "stacks": "Number of Stacks"
    }
    var option_list = {
        "stacks": ["ONE_STACK", "TWO_STACKS", "THREE_STACKS"]
    }

    for(var key in option_id_labels)
    {
        var option_label = option_id_labels[key];
        var options = option_list[key];
        add_option(options, key, option_label)
    }
    
    const selectElement = document.getElementById("stacks").addEventListener("change", function(){
        const stack_choice = this.value;
        console.log(stack_choice)
        if(stack_choice == 1){
            document.getElementById('stackparams1').hidden = false;
            document.getElementById('stackparams2').hidden = true;
            document.getElementById('stackparams3').hidden = true;
        } else if(stack_choice == 2){
            document.getElementById('stackparams1').hidden = false;
            document.getElementById('stackparams2').hidden = false;
            document.getElementById('stackparams3').hidden = true;
        } else if(stack_choice == 3){
            document.getElementById('stackparams1').hidden = false;
            document.getElementById('stackparams2').hidden = false;
            document.getElementById('stackparams3').hidden = false;
        }
    });
  </script>

  <div id = "stackparams1"  language="javascript" type="text/javascript">
    <script language="javascript" type="text/javascript">
      add_stackparams(1);
    </script>
  </div>

  <div id = "stackparams2" hidden language="javascript" type="text/javascript">
    <script language="javascript" type="text/javascript">
      add_stackparams(2);
    </script>
  </div>


  <div id = "stackparams3" hidden language="javascript" type="text/javascript">
    <script language="javascript" type="text/javascript">
      add_stackparams(3);
    </script>
  </div>



  <script language="javascript" type="text/javascript">
    var fields_p1 = {"RH": "Relative Air Humidity", "dry_size": "Dry Diameter (m)", "x_slice": "Slice id in x-driection (1-50)", "y_slice": "Slice id in y-direction (1-50)", "days": "Model Run-time in days", "wind_dir": "Wind Direction (→: 0, ↑: 90, ↓: 270, ←: 180)"};
    var fields_p1_default = {
        "RH": 0.90, "dry_size": 60/Math.pow(10, 9), "x_slice": 26, "y_slice": 1, 'days': 50, 'wind_dir': 270
    }
    for(var key in fields_p1)
    {
        var val = fields_p1[key];
        var default_value = fields_p1_default[key];
        document.write(`<label for = "${key}"> ${val}:  </label>`);
        if(key == 'onemap_api_key'){
            document.write(`<textarea type = "text" name = "${key}" id = "${key}" rows="5" cols="100" required>${default_value}</textarea> <br>`);
        } else {
            document.write(`<input type = "text" name = "${key}" id = "${key}" required value = "${default_value}"> <br>`);
        }
    }    
    </script>




  <script language="javascript" type="text/javascript">
    var option_id_labels = {"stability_used": "Stability Variant"}
    var option_list = {  "stability_used": ["CONSTANT_STABILITY", "ANNUAL_CYCLE"]    }
    for(var key in option_id_labels)
    {
        var option_label = option_id_labels[key];
        var options = option_list[key];
        add_option(options, key, option_label)
    }
    const stab_ele = document.getElementById("stability_used").addEventListener("change", function(){
        const stab_choice = this.value;
        console.log(stab_choice)
        if(stab_choice == 1){
            document.getElementById('vstab').hidden = false;
        } else if(stab_choice == 2){
            document.getElementById('vstab').hidden = true;
        } 
    });
  </script>



  <div id = "vstab"  language="javascript" type="text/javascript">
    <script language="javascript" type="text/javascript">
      var option_id_labels = {  "stab1": "Vertical Stability Parameter"    }
      var option_list = {   "stab1": ["Very unstable", "Moderately unstable", "Slightly unstable", "Neutral", "Moderately stable", "Very stable"]     }
      for(var key in option_id_labels)
      {
          var option_label = option_id_labels[key];
          var options = option_list[key];
          add_option(options, key, option_label)
      }
    </script>
  </div>



  <script language="javascript" type="text/javascript">
    var option_id_labels = {
      "aerosol_type": "Aerosol Type",
      "humidify": "Humidify Aerosol?",
      "wind": "Wind Field",
      "output": "Output View Type"
    }
    var option_list = {
      "aerosol_type": ["SODIUM_CHLORIDE", "SULPHURIC_ACID", "ORGANIC_ACID", "AMMONIUM_NITRATE"],
      "humidify": ["DRY_AEROSOL", "HUMIDIFY"],
      "wind": ["CONSTANT_WIND", "FLUCTUATING_WIND", "PREVAILING_WIND"],
      "output": ["PLAN_VIEW", "HEIGHT_SLICE", "SURFACE_TIME", "NO_PLOT"]
    }
    for(var key in option_id_labels)
    {
      var option_label = option_id_labels[key];
      var options = option_list[key];
      add_option(options, key, option_label)
    }
    </script>

  <input type="submit" value = "Run Simulation" id = "one_map_api_key">
  <label> Support Contact: </label>
   <a>  Gong_Yuan@nea.gov.sg </a> <br>
</form>
